In [1]:
import pandas as pd
import util
import mark_helper as mh
import write_helper as wh

In [2]:
# const
PATH_RCC1 = '../data/2021/response/thdc-2021-yrd1-cc1 (Responses).xlsx'
PATH_RCC2 = '../data/2021/response/thdc-2021-yrd1-cc2 (Responses).xlsx'
PATH_RCC3 = '../data/2021/response/thdc-2021-yrd1-cc3 (Responses).xlsx'
PATH_RQT1 = '../data/2021/response/thdc-2021-yrd1-qt1 (Responses).xlsx'
PATH_RTHILT1 = '../data/2021/response/thdc-2021-yrd1-thilt1 (Responses).xlsx'
PATH_RTHILT2 = '../data/2021/response/thdc-2021-yrd1-thilt2 (Responses).xlsx'
PATH_RTHITH1 = '../data/2021/response/thdc-2021-yrd1-thith1 (Responses).xlsx'
PATH_RTHITH2 = '../data/2021/response/thdc-2021-yrd1-thith2 (Responses).xlsx'

PATH_CUTPOINT = '../data/2021/reference/cutpoint.csv'
PATH_ATTENDEE11 = '../data/2021/mau-import-diem-import/mau-import-diem-thdc-2021-yrd1-y-2021-lan1.xlsx'
PATH_ATTENDEE12 = '../data/2021/mau-import-diem-import/mau-import-diem-thdc-2021-yrd1-y-2021-lan2.xlsx'
PATH_ATTENDEE21 = '../data/2021/mau-import-diem-import/mau-import-diem-thdc-2021-yrd1-rhm-2021-lan1.xlsx'
PATH_ATTENDEE22 = '../data/2021/mau-import-diem-import/mau-import-diem-thdc-2021-yrd1-rhm-2021-lan2.xlsx'
PATH_ATTENDEE31 = '../data/2021/mau-import-diem-import/mau-import-diem-thdc-2021-yrd1-duoc-2021-lan1.xlsx'
PATH_ATTENDEE32 = '../data/2021/mau-import-diem-import/mau-import-diem-thdc-2021-yrd1-duoc-2021-lan2.xlsx'

cutpoint = pd.read_csv(PATH_CUTPOINT, index_col=None)
# y-2021
attendee11 = util.get_attendee(PATH_ATTENDEE11, course_id='thdc-2021-yrd1', class_id='y-2021')
attendee12 = util.get_attendee(PATH_ATTENDEE12, course_id='thdc-2021-yrd1', class_id='y-2021')
# rhm-2021
attendee21 = util.get_attendee(PATH_ATTENDEE21, course_id='thdc-2021-yrd1', class_id='rhm-2021')
attendee22 = util.get_attendee(PATH_ATTENDEE22, course_id='thdc-2021-yrd1', class_id='rhm-2021')
# duoc-2021
attendee31 = util.get_attendee(PATH_ATTENDEE31, course_id='thdc-2021-yrd1', class_id='duoc-2021')
attendee32 = util.get_attendee(PATH_ATTENDEE32, course_id='thdc-2021-yrd1', class_id='duoc-2021')

exam = util.parse_exam('../data/2021/reference/exam.xlsx')
rcc1 = util.parse_response(PATH_RCC1)
rcc2 = util.parse_response(PATH_RCC2)
rcc3 = util.parse_response(PATH_RCC3)
rqt1 = util.parse_response(PATH_RQT1)
rthilt1 = util.parse_response(PATH_RTHILT1)
rthilt2 = util.parse_response(PATH_RTHILT2)
rthith1 = util.parse_response(PATH_RTHITH1)
rthith2 = util.parse_response(PATH_RTHITH2)

In [3]:
# fix
rcc1['course_id'] = 'thdc-2021-yrd1'
rcc2['course_id'] = 'thdc-2021-yrd1'
rcc3['course_id'] = 'thdc-2021-yrd1'
rqt1['course_id'] = 'thdc-2021-yrd1'
rthilt1['course_id'] = 'thdc-2021-yrd1'
rthilt2['course_id'] = 'thdc-2021-yrd1'
rthith1['course_id'] = 'thdc-2021-yrd1'
rthith2['course_id'] = 'thdc-2021-yrd1'

In [4]:
# rcc1

In [4]:
# tinh diem, append cac bai kiem tra
cc1 = mh.get_mark(rcc1, cutpoint, total=15, exam_id='thdc-2021-yrd1-cc1')
cc2 = mh.get_mark(rcc2, cutpoint, total=10, exam_id='thdc-2021-yrd1-cc2')
cc3 = mh.get_mark(rcc3, cutpoint, total=20, exam_id='thdc-2021-yrd1-cc3')
qt1 = mh.get_mark(rqt1, cutpoint, total=30, exam_id='thdc-2021-yrd1-qt1')
thilt1 = mh.get_mark(rthilt1, cutpoint, total=30, exam_id='thdc-2021-yrd1-thilt1')
thilt2 = mh.get_mark(rthilt2, cutpoint, total=30, exam_id='thdc-2021-yrd1-thilt2')
thith1 = mh.get_mark(rthith1, cutpoint, total=30, exam_id='thdc-2021-yrd1-thith1')
thith2 = mh.get_mark(rthith2, cutpoint, total=30, exam_id='thdc-2021-yrd1-thith2')
res = (
    cc1
    .append(cc2)
    .append(cc3)
    .append(qt1)
    .append(thilt1)
    .append(thith1)
    .append(thilt2)
    .append(thith2))

In [32]:
res
# attendee21

        user_id  class_id       course_id                exam_id  mark
0    1111111111            thdc-2021-yrd1     thdc-2021-yrd1-cc1   0.0
1    1851010273   yb-2018  thdc-2021-yrd1     thdc-2021-yrd1-cc1   4.0
2    2155010082  rhm-2021  thdc-2021-yrd1     thdc-2021-yrd1-cc1   5.0
3    2155010026  rhm-2021  thdc-2021-yrd1     thdc-2021-yrd1-cc1   6.5
4    2151010277   ya-2021  thdc-2021-yrd1     thdc-2021-yrd1-cc1   7.5
..          ...       ...             ...                    ...   ...
440  2155010042  rhm-2021  thdc-2021-yrd1  thdc-2021-yrd1-thith2  10.0
441  2151010428   yb-2021  thdc-2021-yrd1  thdc-2021-yrd1-thith2  10.0
442  2155010048  rhm-2021  thdc-2021-yrd1  thdc-2021-yrd1-thith2  10.0
443  2151010736   ya-2021  thdc-2021-yrd1  thdc-2021-yrd1-thith2  10.0
444  2151010329   ya-2021  thdc-2021-yrd1  thdc-2021-yrd1-thith2  10.0

[3538 rows x 5 columns]

In [13]:
# diem wide, long
mark_wide = mh.get_mark_wide(res)
mark_long = mh.get_mark_long(
    mark_wide,
    value_vars=[
        'thdc-2021-yrd1-cc1', 
        'thdc-2021-yrd1-cc2', 
        'thdc-2021-yrd1-cc3', 
        'thdc-2021-yrd1-qt1',
        'thdc-2021-yrd1-thilt1',
        'thdc-2021-yrd1-thith1',
        'thdc-2021-yrd1-thilt2',
        'thdc-2021-yrd1-thith2',])

In [14]:
# df11[(df11[f'vtlt{1}'] == True) | (df11[f'vtth{1}'] == True)].shape[0]

In [23]:
def write_1(attendee, mark_long, exam, mon='', lop='', lop_hp='', lan_thi='1', footer='', output='',
             name='', ngay_thi='01/01/2022', ngay='01', thang='01', nam='2022'):
    examinee = util.get_examinee(attendee, mark_long, exam, how='left')
    df = mh.get_mark_thdc_1(attendee, examinee)
    # Mau import diem thdc lan 1, y-2021
    wh.write_mau_import_diem_thdc_1(
        df,
        path=f'../data/2021/mau-import-diem-export/mau-import-diem-{name}-lan{lan_thi}.xlsx',
        mon=mon,
        lop=lop,
        lop_hp=lop_hp,
        lan_thi=lan_thi)

    # Bang diem thdc lan 1, y-2021
    wh.write_bang_diem_thdc_1(
        df,
        path=f'../data/2021/bang-diem/bang-diem-{name}-lan{lan_thi}.xlsx',
        footer=footer,
        mon=mon,
        lop=lop,
        lop_hp=lop_hp,
        lan_thi=lan_thi,
        ngay_thi=ngay_thi,
        ngay=ngay, thang=thang, nam=nam)

In [24]:
# thdc-2021-yrd1-y-2021-lan1
write_1(
    attendee11, mark_long, exam, name='thdc-2021-yrd1-y-2021',
    mon='Tin học [2TC]',
    lop='Y-2021',
    lop_hp='211TTO_01000603',
    lan_thi='1',
    ngay_thi='01/01/2022',
    ngay='01', thang='01', nam='2022'
)

In [25]:
# thdc-2021-yrd1-rhm-2021-lan1
write_1(
    attendee21, mark_long, exam, name='thdc-2021-yrd1-rhm-2021',
     mon='Tin học [2TC]',
    lop='RHM-2021',
    lop_hp='211TTO_01000603',
    lan_thi='1',
    ngay_thi='01/01/2022',
    ngay='01', thang='01', nam='2022'
)

In [27]:
# thdc-2021-yrd1-duoc-2021-lan1
# write_1(
#     attendee31, mark_long, exam, name='thdc-2021-yrd1-duoc-2021',
#     mon='Tin học [2TC]',
#     lop='DUOC-2021',
#     lop_hp='211TTO_01000603',
#     lan_thi='1',
#     ngay_thi='01/01/2022',
#     ngay='01', thang='01', nam='2022'
# )

SyntaxError: unmatched ')' (165363407.py, line 10)

In [9]:
# Mau import diem thdc lan 1, y-2021
# util.write_mau_import_diem_thdc_1(
#     df11,
#     path='../data/2021/mau-import-diem-export/mau-import-diem-thdc-2021-yrd1-y-2021-lan1.xlsx',
#     mon='Tin học [2TC]',
#     lop='Y-2021',
#     lop_hp='211TTO_01000603',
#     lan_thi='1')

# Bang diem thdc lan 1, y-2021
# util.write_bang_diem_thdc_1(
#     df11,
#     path='../data/2021/bang-diem/bang-diem-thdc-2021-yrd1-y-2021-lan1.xlsx',
#     footer='Y-2021',
#     mon='Tin học [2TC]',
#     lop='Y-2021',
#     lop_hp='211TTO_01000603',
#     lan_thi='1',
#     ngay_thi='01/01/2022',
#     ngay='01', thang='01', nam='2022')

# Mau import diem thdc lan 2, y-2021
# util.write_mau_import_diem_thdc_1(
#     df11,
#     path='../data/2021/mau-import-diem-export/mau-import-diem-thdc-2021-yrd1-y-2021-lan2.xlsx',
#     mon='Tin học [2TC]',
#     lop='Y-2021',
#     lop_hp='211TTO_01000603',
#     lan_thi='1')

# Bang diem thdc lan 1, y-2021
# util.write_bang_diem_thdc_2(
#     df11,
#     path='../data/2021/bang-diem/bang-diem-thdc-2021-yrd1-y-2021-lan2.xlsx',
#     footer='Y-2021',
#     mon='Tin học [2TC]',
#     lop='Y-2021',
#     lop_hp='211TTO_01000603',
#     lan_thi='2',
#     ngay_thi='01/01/2022',
#     ngay='01', thang='01', nam='2022')

In [8]:
# mark_long.to_parquet('./mark_long.parquet')
# df[df.user_id == '2151010654']
# mark_wide[mark_wide.user_id == '2151010624']
# mark_wide[mark_wide.user_id == '2151010659']

,user_id,class_id,course_id,thdc-2021-yrd1-cc1,thdc-2021-yrd1-cc2,thdc-2021-yrd1-cc3,thdc-2021-yrd1-qt1,thdc-2021-yrd1-thilt1,thdc-2021-yrd1-thilt2,thdc-2021-yrd1-thith1,thdc-2021-yrd1-thith2
315,2151010624,ya-2021,thdc-2021-yrd1,9.5,10.0,10.0,9.5,9.5,9.5,9.5,9.5